@config "../tailwind.config.js";

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@plugin "daisyui" {
  base: true;
  styled: true;
  utils: true;
  themes: light, dark --prefersdark --default, cupcake, cyberpunk;
}
