<!-- /templates/base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="/static/styles/styles.css" type="text/css">
  </head>
  <body>
    <header>
        <h1>DH Amulett Setup</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/two_player">Zwei Spieler Setup</a></li>
                <li><a href="/three_player">Drei Spieler Setup</a></li>
                <li><a href="/four_player">Vier Spieler Setup</a></li>
            </ul>
        </nav>
    </header>
    <main id="content">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>