<!-- /templates/home.html -->
{% extends "base.html" %}

{% block title %}DH Amulett - Home{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <h2>Willkommen!</h2>
    <p>
        Dies ist ein nichtkommerzielles Fanprojekt für das Setup von
        <a href="https://www.kosmos.de/de/drachenhuter_1683757_4002051683757">Drachenhüter</a>, einem Kartenspiel
        erschienen im <a href="https://www.kosmos.de">Kosmosverlag</a>.
    </p>
    <p>Wähle im Navigationsmenü die Anzahl der Spieler aus.</p>
    <p>Jeder Reload führt zu einem neuen Setup.</p>
    <p>Fertig.</p>
    <p>Viel Spaß beim Spielen 😊</p>
{% endblock %}