<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Dr. Flowerkick">
        <title>DH Amulett Setup - Setup</title>
    </head>
    <body>
        <header>
            <h1>DH Amulett Setup</h1>
            <nav>
                <ul>
                    <li><a href="../..">Home</a></li>
                    <li><a href="./2">Zwei Spieler Setup</a></li>
                    <li><a href="./3">Drei Spieler Setup</a></li>
                    <li><a href="./4">Vier Spieler Setup</a></li>
                </ul>
            </nav>
        </header>
        <h2>Setup für <strong>{{num_players}}</strong> Spieler</h1>
        <em>Entferne die folgenden Amulette aus deinem Vorrat:</em>
        <p>Stufe 1: <strong>{{level_1}}</strong></p>
        <p>Stufe 4: <strong>{{level_4}}</strong></p>
        <p>Stufe 6: <strong>{{level_6}}</strong></p>
        <p>Stufe 8: <strong>{{level_8}}</strong></p>
        <p>Stufe 10: <strong>{{level_10}}</strong></p>
        <p>Stufe 12: <strong>{{level_12}}</strong></p>
        <p>Stufe 16: <strong>{{level_16}}</strong></p>
        <p>Stufe 20: <strong>{{level_20}}</strong></p>
    </body>
</html>
