<!-- /templates/setup.html -->
{% extends "base.html" %}

{% block title %}DH Amulett - Setup{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <h2>Setup für <strong>{{num_players}}</strong> Spieler</h2>
    <p><em>Entferne die folgenden Amulette aus deinem Vorrat:</em></p>
    <div class="amulet-setup">
        <p>
            <strong>{{level_1}}</strong> x
            <img src="/static/pics/amulet_01.png" alt="Stufe 1:">
        </p>
        <p>
            <strong>{{level_4}}</strong> x
            <img src="/static/pics/amulet_04.png" alt="Stufe 4:">
        </p>
        <p>
            <strong>{{level_6}}</strong> x
            <img src="/static/pics/amulet_06.png" alt="Stufe 6:">
        </p>
        <p>
            <strong>{{level_8}}</strong> x
            <img src="/static/pics/amulet_08.png" alt="Stufe 8:">
        </p>
        <p>
            <strong>{{level_10}}</strong> x
            <img src="/static/pics/amulet_10.png" alt="Stufe 10:">
        </p>
        <p>
            <strong>{{level_12}}</strong> x
            <img src="/static/pics/amulet_12.png" alt="Stufe 12:">
        </p>
        <p>
            <strong>{{level_16}}</strong> x
            <img src="/static/pics/amulet_16.png" alt="Stufe 16:">
        </p>
        <p>
            <strong>{{level_20}}</strong> x
            <img src="/static/pics/amulet_20.png" alt="Stufe 20:">
        </p>
    </div>
{% endblock %}