.titillium-web-extralight {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
}
  
.titillium-web-light {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.titillium-web-regular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.titillium-web-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
.titillium-web-bold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.titillium-web-black {
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.titillium-web-extralight-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: italic;
}
  
.titillium-web-light-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
.titillium-web-regular-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.titillium-web-semibold-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: italic;
}
  
.titillium-web-bold-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: italic;
}


/* Standard CSS for all devices */
body, html {
    font-family: "Titillium Web", Arial, sans-serif;
    background-color: #bdbec1;
    margin: 2px;
    font-size: 1em;
}


/* For portrait mode */
@media only screen and (orientation: portrait) {
    .nav_container {
        display: grid;
        grid-template-areas:
            "home-nav home-nav home-nav"
            "two-player-nav three-player-nav four-player-nav";
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        gap: 0.1em;
    }
    
    .home-nav {
        grid-area: home-nav;
    }

    .two-player-nav {
        grid-area: auto;
    }
    .three-player-nav {
        grid-area: auto;
    }
    .four-player-nav {
        grid-area: auto;
    }
    
    .amulet-setup {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        align-items: center;
        gap: 0.625%;
    }
    
    .amulet-setup > p {
        font-size: 5vw;
        justify-self: center;
    }
    
    .amulet-setup > p > img {
        max-width: 80%;
    }
}

/* For landscape mode */
@media only screen and (orientation: landscape) {
    .nav_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        gap: 0.625%;
    }
    
    
    .amulet-setup {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        align-items: center;
        gap: 0.625%;
    }
    
    .amulet-setup > p {
        font-size: 3vw;
        justify-self: center;
    }
    
    .amulet-setup > p > img {
        max-width: 80%;
    }
}


/* Links in navigation should look like buttons */
.nav_container > a {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    height: 2.5em;
}
  
.nav_container > a:link,
.nav_container > a:visited,
.nav_container > a:focus {
    background: darkred;
    color: white;
    border: 2px solid darkred;
}
  
.nav_container > a:hover {
    background: #4f0000;
    color: white;
    border: 2px solid darkred;
}
  
.nav_container > a:active {
    background: black;
    color: white;
    border: 2px solid darkred;
}

.pawn {
    height: 2em;
    margin: 0 1%;
}